@import "~bootstrap/scss/bootstrap";

#root {
  padding: 10px;

  @media only screen and (min-width: 1280px) {
    padding: 0;
  }
}

body {
  font-family: "Inter", system-ui;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#9dd558, 10%);
}

::-webkit-scrollbar-thumb {
  background-color: #9dd558;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  max-width: 1280px;
  margin: 20px auto;

  @media only screen and (min-width: 768px) {
    margin: 50px auto;
    border-radius: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #eaeaea;
  flex-direction: column;
  gap: 14px;

  &-logo {
    display: flex;
    align-items: center;

    &__title {
      font-weight: 700;
      text-transform: uppercase;
    }

    .logo {
      width: auto;
      height: 40px;
    }
  }

  &-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__cart {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        svg {
          fill: #3cc755;
        }

        .header-cart__price {
          color: #3cc755;
        }
      }
    }

    &__image,
    &__favorites,
    &__cabinet {
      width: 20px;
      height: 20px;
      fill: #9b9b9b;
      transition: fill 0.3s;
      cursor: pointer;

      &:hover {
        fill: #3cc755;
      }
    }

    &__favorites,
    &__cabinet {
      margin-left: 30px;
    }

    &__price {
      color: #5c5c5c;
      font-weight: 600;
      margin-left: 10px;
      transition: color 0.3s;
    }
  }

  @media screen and (min-width: 568px) {
    flex-direction: row;
    padding: 45px;
    gap: unset;
  }
}

.main-slider {
  padding: 45px;
}

.content {
  padding: 20px;

  @media only screen and (min-width: 768px) {
    padding: 45px;
  }

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  }

  &-products {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 30px;

    @media screen and (min-width: 568px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .search {
    &-block {
      border-radius: 10px;
      border: 1px solid #f3f3f3;
      height: 45px;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;

      input[type="search"] {
        border: none;
        outline: none;
        margin-left: 10px;
        color: #c4c4c4;
        width: 100%;
      }

      @media only screen and (min-width: 640px) {
        width: 250px;
      }
    }

    &-icon {
      fill: #e4e4e4;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;

    @media screen and (min-width: 640px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: unset;
      margin-bottom: 40px;
    }
  }
}

.cart {
  &-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 65px);
  }

  &-items {
    flex: 1;
    overflow: auto;
    margin-bottom: 30px;
    padding-right: 10px;
  }

  &-item {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 10px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &__image {
      width: 85px;
    }

    &__description {
      margin: 15px 15px 0 15px;

      .item-price {
        font-weight: 900;
        margin-top: 10px;
      }
    }

    &__delete {
      border: 1px solid #dbdbdb;
      background: #fff;
      padding: 5px;
      border-radius: 8px;
      transition: background-color 0.3s ease-in-out;

      svg {
        fill: #b5b5b5;
        width: 15px;
        height: 15px;
        transition: fill 0.3s ease-in-out;
      }

      &:hover {
        background-color: #dbdbdb;

        svg {
          fill: #fff;
        }
      }
    }
  }

  &--button {
    height: 50px;
    background: #9dd558;
    border-radius: 18px;
    color: #ffffff;
    border: 0;
    outline: none;
    width: 100%;
    margin-top: 40px;
    position: relative;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: lighten(#9dd558, 5%);
    }

    &:active {
      background: darken(#9dd558, 5%);
    }
  }

  &-total {
    &__dashed {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      align-self: flex-end;
      margin: 0 10px 5px;
    }

    &__price {
      font-weight: 900;
    }

    &__button {
      svg {
        transition: right 0.2s ease-in-out;
        right: 30px;
      }

      &:disabled {
        animation: button-loading 0.8s ease-in-out infinite;
        background-color: #bebebe;
        cursor: default;
      }

      &:hover {
        svg {
          right: 25px;
        }
      }
    }
  }

  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto 0;

    &__image {
      width: 110px;
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 400;
      opacity: 0.4;
      text-align: center;
    }

    &__button {
      svg {
        transition: left 0.2s ease-in-out;
        left: 30px;
      }

      &:hover {
        svg {
          left: 25px;
        }
      }
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
