@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Inter', system-ui;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  font-size: 14px;
}

::-webkit-scrollbar-track {
  background-color: #dbdbdb;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken(#9dd558, 10%);
}

::-webkit-scrollbar-thumb {
  background-color: #9dd558;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.wrapper {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  border-bottom: 1px solid #eaeaea;

  &-logo {
    display: flex;
    align-items: center;

    &__title {
      font-weight: 700;
      text-transform: uppercase;
    }

    .logo {
      width: auto;
      height: 40px;
    }
  }

  &-cart {
    display: flex;
    align-items: center;

    &__cart {
      display: flex;
      align-items: center;
	  cursor: pointer;

	  &:hover {
		svg {
		  fill: #3cc755;
		}

		.header-cart__price {
		  color: #3cc755;
		}
	  }
    }

    &__image, &__favorites, &__cabinet {
      width: 20px;
      height: 20px;
      fill: #9b9b9b;
	  transition: fill .3s;
	  cursor: pointer;

	  &:hover {
		fill: #3cc755;
	  }
    }

    &__favorites, &__cabinet {
      margin-left: 30px;
    }

    &__price {
      color: #5c5c5c;
      font-weight: 600;
      margin-left: 10px;
	  transition: color .3s;
    }
  }
}

.main-slider {
  padding: 45px;
}

.content {
  padding: 45px;

  h1 {
	margin: 0;
	font-size: 32px;
	font-weight: 700;
  }

  &-products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 30px;
	column-gap: 30px;
  }

  .search {
	&-block {
	  border-radius: 10px;
	  border: 1px solid #f3f3f3;
	  height: 45px;
	  width: 250px;
	  padding: 10px;
	  display: flex;
	  align-items: center;

	  input[type="search"] {
		border: none;
		outline: none;
		margin-left: 10px;
		color: #c4c4c4;
	  }
	}

	&-icon {
	  fill: #e4e4e4;
	}
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.drawer {
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, .1);
  padding: 20px;
  display: flex;
  flex-direction: column;

  h2 {
	margin: 0;
  }
}

.cart {
  &-full {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  }

  &-items {
	flex: 1;
	overflow: auto;
	margin-bottom: 30px;
	padding-right: 10px;
  }

  &-item {
	display: flex;
	align-items: center;
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	padding: 10px;

	&:not(:first-child) {
	  margin-top: 20px;
	}

	&__image {
	  width: 85px;
	}

	&__description {
	  margin: 15px 15px 0 15px;

	  .item-price {
		font-weight: 900;
		margin-top: 10px;
	  }
	}

	&__delete {
	  border: 1px solid #dbdbdb;
	  background: #fff;
	  padding: 5px;
	  border-radius: 8px;
	  transition: background-color .3s ease-in-out;

	  svg {
		fill: #b5b5b5;
		width: 15px;
		height: 15px;
		transition: fill .3s ease-in-out;
	  }

	  &:hover {
		background-color: #dbdbdb;

		svg {
		  fill: #fff;
		}
	  }
	}
  }

  &--button {
	height: 50px;
	background: #9dd558;
	border-radius: 18px;
	color: #ffffff;
	border: 0;
	outline: none;
	width: 100%;
	margin-top: 40px;
	position: relative;
	font-size: 16px;
	transition: background .2s ease-in-out;

	svg {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 20px;
	  height: 20px;
	}

	&:hover {
	  background: lighten(#9dd558, 5%);
	}

	&:active {
	  background: darken(#9dd558, 5%);
	}
  }

  &-total {
	&__dashed {
	  flex: 1;
	  height: 1px;
	  border-bottom: 1px dashed #dfdfdf;
	  align-self: flex-end;
	  margin: 0 10px 5px;
	}

	&__price {
	  font-weight: 900;
	}

	&__button {
	  svg {
		transition: right .2s ease-in-out;
		right: 30px;
	  }

	  &:hover {
		svg {
		  right: 25px;
		}
	  }
	}
  }

  &-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto 0;

	&__title {
	  font-size: 22px;
	  font-weight: 600;
	}

	&__subtitle {
	  font-size: 16px;
	  font-weight: 400;
	  opacity: .4;
	  text-align: center;
	}

	&__button {
	  svg {
		transition: left .2s ease-in-out;
		left: 30px;
	  }

	  &:hover {
		svg {
		  left: 25px;
		}
	  }
	}
  }
}